"*":
  "exception-reporting":
    userId: "ba541420-9903-96d3-aac2-94dac0a65447"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    disabledPackages: [
      "tag"
    ]
  editor:
    invisibles: {}
  minimap:
    plugins:
      "git-diff": true
      linter: true
      "minimap-hide": false
      pigments: true
      "minimap-autohide": true
      "highlight-selected": true
  linter: {}
  "atom-beautify":
    _analyticsUserId: "5342b7d4-c44a-4d86-8e0f-5b02ab85390a"
